

@{
    ViewData["Title"] = "Admin Page---Add Book";
    Layout = "_Admin";
}


@model IkasaBooks.MVC.ViewModels.HomeViewModel;
@{
    ViewData["Title"] = "View All Books";

    int c = 1;
}



<h2 class="bg-green">All Users</h2>
<table class="table table-striped table-white">
    <thead class="bg-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">PhoneNumber</th>
            <th scope="col">Email</th>
            <th scope="col">""</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var user in Model.Users)
        {
            <tr>
                <th scope="row">@c</th>
                <td>@user.FullName</td>

                <td>@user.PhoneNumber</td>

                <td>@user.Email</td>
                <td class="btn btn-danger btn-sm"><a asp-controller="Admin" asp-action="Users" asp-route-id="@user.Id">Delete</a></td>
            </tr>
            c++;
        }

    </tbody>
</table>