@model IkasaBooks.Models.Book;//.DTOs.ReviewBookDTO;

@{
    ViewData["Title"] = "Book Detail";

    var name = Model.Name + ".pdf";
}

<!-- Breadcrumb Section End -->
<!-- Product Details Section Begin -->
<section class="product-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="product__details__pic">
                    <div class="product__details__pic__item">
                        <img class="product__details__pic__item--large"
                             src="@Model.ImageURL" alt="">
                    </div>

                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="product__details__text">
                    <h3>@Model.Name</h3>
                    <div class="product__details__rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                        <span>(18 reviews)</span>
                    </div>

                    <p>
                        @Model.Description
                    </p>


                    @if(ViewBag.Download == true)
                    { 

                        <form asp-action="DownLoad" method="get">
                            <a href="#" class="btn btn-primary">DOWNLOAD MP3</a>
                            <input type="hidden" asp-for="Name" class="form-control" value="@Model.Name" required />

                            <input id="Submit1" type="submit" value="DOWNLOAD PDF" class="btn btn-primary" />
                        </form>
                    }

                    @if(ViewBag.Download == false)
        {
            <p>Kindly <a asp-action="Index" asp-controller="Login"> Login</a> to view and download this book</p>
        }
                    








                </div>
            </div>
            <div class="col-lg-12">
                <div class="product__details__tab">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab"
                               aria-selected="true">Description</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab"
                               aria-selected="false">Rating and Review</a>
                        </li>
                        
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabs-1" role="tabpanel">
                            <div class="product__details__tab__desc">
                                <h6>Description</h6>
                                <p>
                                    @Model.Description
                                </p>
                                <p>
                                    @Model.Description
                                </p>
                            </div>
                        </div>
                        <div class="tab-pane" id="tabs-2" role="tabpanel">
                            <div class="product__details__tab__desc">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h6>Review</h6>
                                        @using (Html.BeginForm("Catname", "Catname", FormMethod.Post, new { role = "form" }))
                                        {
                                            @Html.AntiForgeryToken();
                                            <h4 class="text-center">Review  A Book</h4>

                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                            <div class="form-group">
                                                @Html.LabelFor(c =>c.Name, new { @class = "control-label" })

                                                @Html.TextBoxFor(c => c.Name, new { @class = "form-control" })
                                            </div>

                                            <div class="form-group">

                                                <input type="submit" value="Review " class="btn btn-success  btn-block" />

                                            </div>

                                        }

                                    </div>


                                    <div class="col-md-6">
                                        <h6>Rating</h6>
                                        <p>
                                            Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Lorem
                                            ipsum dolor sit amet, consectetur adipiscing elit. Mauris blandit aliquet
                                            elit, eget tincidunt nibh pulvinar a. Cras ultricies ligula sed magna dictum
                                            porta. Cras ultricies ligula sed magna dictum porta. Sed porttitor lectus
                                            nibh. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.
                                        </p>
                                    </div>
                                </div>
                        </div>
                     </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Details Section End -->
